<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
  <body>
    <section layout:fragment="content">
      <p>Hello <span th:text="${session.username}">Admin</span> To Your Dashboard</p>
      <br />
      <p style="color: red;font-weight: bold;" th:if="${error != null}" th:text="${error}"></p>
      <br />
      <h3>Users Permission List</h3>
      <table>
	      	<thead>
	      		<tr>
	      			<th>User Id</th>
	      			<th>Name</th>
	      			<th>Email</th>
	      			<th>URL</th>
	      			<th>Permission</th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<tr th:each="permission, status: ${permissions}">
	      			<td th:text="${permission.userId}"></td>
	      			<td th:text="${permission.name}"></td>
	      			<td th:text="${permission.email}"></td>
	      			<td th:text="${permission.url}"></td>
	      			<td th:text="${permission.permission}"></td>
	      			<td><a th:href="@{/admin/delete-permission(permissionId=${permission.permissionId})}">Delete Permission</a></td>
	      		</tr>
	      	</tbody>
	      </table>
	   <br />
	   <h3>Assign Permissions To User</h3>
      <form th:action="@{/admin/assign-persmissions}" method="POST">
	      <table>
	      	<thead>
	      		<tr>
	      			<th>Sr.No</th>
	      			<th>Name</th>
	      			<th>Selection</th>
	      			<th>Access</th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<tr th:each="user, status: ${users}">
	      			<td th:text="${status.count}"></td>
	      			<td th:text="${user.name}"></td>
	      			<td>
	      				<select name="urls">
			                <option value="/section-one">Section ONE</option>
			                <option value="/section-two">Section TWO</option>
			                <option value="/section-three">Section THREE</option>
			            </select>
	      			</td>
	      			<td>
	      				<select name="permissions">
	      					<option value="ACCESS">Access</option>
			                <option value="DENIED">Denied</option>
	      				</select>
	      			</td>
	      			<td><input type="hidden" name="userIds" th:value="${user.id}" /></td>
	      		</tr>
	      	</tbody>
	      </table>
	      <input type="submit" value="Assign Permssions" />
      </form>
    </section>
  </body>
</html>